@using PlaygroundMVC.Models;
@model PlaygroundMVC.ViewModels.RandomMovieViewModel;
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@((Movie) ViewData["Movie"]).Name</h2>
@((Movie)ViewBag.Movie).Name